@model BookToAuthor

<tr>
    <td>@Model.book.name</td>
    <td>@Model.book.description</td>
    <td>@Model.book.publisher.name</td>
    <td>@Model.book.price</td>
    <td>@Model.book.publishedAt</td>
    <td>@Model.author.name</td>
</tr>